@media screen and (min-width: 768px) {
  header ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.6);
    height: 60px;
  }

  header ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 10px 20px;
  }

  header ul li a {
    text-decoration: none;
    color: #413d3d;
  }

  header ul li a:hover {
    color: #628162;
    -webkit-text-decoration: underline #628162;
            text-decoration: underline #628162;
  }

  .introduction img {
    width: 40%;
  }
  
  .fa-bars {
    display: none;
  }

  .balloon {
    background: #b4aaaa;
    background: #fff;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
  }
  
  .balloon::before {
    content: "";
    position: absolute;
    top: 20%;
    left: -15px;
    margin-top: -12px;
    border: 15px solid transparent;
    border-right: 15px solid #b8b0b0;
    border-right: 15px solid #fff;
  }

  #bootstrap-img {
    width: 36%;
  }

  .product img {
    width: 230px;
    height: 300px;
  }

  .product .product-text {
    margin-left: 30px;
    text-align: center;
    height: 200px;
  }

  .product .product-learn {
    margin-left: 30px;
    margin-top: 70px;
  }
}

@media screen and (min-width: 992px) {
  .introduction p {
    line-height: 2;
    font-size: 22px;
  }
  .product-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product img {
    height: 100%;
  }
  .product .hover-mask {
    width: 70%;
    height: 100%;
    left: 30px;
  }
  #page-top a {
    font-size: 40px;
    padding: 0px 0 15px 8px;
  }
}
